# === CẤU HÌNH SERVER ===
PORT=8080 # Frontend lưu ý gọi API vào cổng này

# === CẤU HÌNH DATABASE (DBA chú ý) ===
DB_HOST=localhost
DB_PORT=3306
DB_NAME=quan_ly_chi_tieu_db
DB_USER=root
DB_PASS= # Điền mật khẩu database trên máy cá nhân của bạn vào đây

# === BẢO MẬT & BÊN THỨ 3 ===
JWT_SECRET= # Chuỗi bí mật mã hóa phiên đăng nhập